body {
  margin: 0px;
  padding: 0px;
  background-color: rgb(14, 13, 13);
}





/* input {
  position: absolute;
  top: 5em;
  left: 5em;
  background: none;
  border: none;
  font-size: x-large;
} */

h3 {
  margin-inline-start: 200px;
}

.hidden {
  display: none;
}

/* .canvas-container {
  width: 60vw;
  height: 80vh;
} */





/* @media screen and (max-width: 500px) {
  .canvas-container {
    width: 80vw;
  }
} */