body {
  margin: 0px;
  padding: 0px;
  background-color: rgb(14, 13, 13);
}

.header .main-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  border: 2px solid black;
  background-color: rgb(64, 61, 57);
}

.header .main-nav button {
  background-color: rgb(213, 51, 30);
  height: 3em;
  width: 5em;
  margin: 5px 5px;
}

.main-content {
  display: grid;
  justify-content: center;
}

.edit {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  gap: 10px;
  margin: 10px 10px;


}

.edit button {
  background-color: rgb(213, 51, 30);
  height: 3em;
  width: 3em;
}

.inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 10px 10px;
}

/* input {
  position: absolute;
  top: 5em;
  left: 5em;
  background: none;
  border: none;
  font-size: x-large;
} */
input::placeholder {
  color: rgb(12, 12, 13)
}

h3 {
  margin-inline-start: 200px;
}

.hidden {
  display: none;
}

/* .canvas-container {
  width: 60vw;
  height: 80vh;
} */

canvas {

  background-color: rgb(74, 72, 69);
  border: 1px solid black;
}

.canvas-container {
  position: relative;
}

.select-img-container {
  margin-top: 15px;
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;

}

img {
  height: 80px;
  width: 80px;
  cursor: pointer;
  filter:opacity(.5)
}

img:hover {
  transition: 0.5s;
  filter: unset;
}

/* @media screen and (max-width: 500px) {
  .canvas-container {
    width: 80vw;
  }
} */