.main-content {
    display: grid;
    justify-content: center;
}



.edit button {
    background-color: rgb(213, 51, 30);
    height: 3em;
    width: 3em;
}



input::placeholder {
    color: rgb(12, 12, 13)
}

canvas {
    display: flex;

    background-color: rgb(74, 72, 69);
    border: 1px solid black;
}

.canvas-container {
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
    position: relative;
}

.text {
    font-family: impacto, sans-serif;
    color: white;
}