h1 {
    font-size: larger;
    text-align: center;
    color: white;
}

.gallery {
    box-shadow: rgba(137, 130, 130, 0.25) 0px 54px 55px, rgba(137, 130, 130, 0.25) 0px -12px 30px, rgba(137, 130, 130, 0.25) 0px 4px 6px, rgba(137, 130, 130, 0.25) 0px 12px 13px, rgba(137, 130, 130, 0.25) 0px -3px 5px;
}
.image{
    gap: 15px;

}

img {
    height: 100px;
    width: 100px;
    cursor: pointer;
    filter: grayscale(.8);

}

img:hover {
    transition: 0.5s;
    filter: unset;
}