.header .main-nav {
  gap: 15px;
  border: 2px solid black;
  background-color: rgb(216, 175, 120);
}

.header .main-nav button {
  background-color: rgb(213, 51, 30);
  height: 3em;
  width: 5em;
  margin: 5px 5px;
}