body {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    justify-content: space-evenly;
  }
  
  .canvas-container {
    width: 60vw;
    height: 80vh;
  }
  
  canvas {
    background-color: rgb(215, 203, 188);
    border: 1px solid black;
  }
  
  @media screen and (max-width: 500px) {
    .canvas-container {
      width: 80vw;
    }
  }